*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    border: 4px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* .transit-header{
    transition: all 0.5s ease;
     right: 80px; 
    width: calc(100% - 80px); 
} */
.header{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s ease;
}
.button{
    border: 2px solid;
    flex: 8;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.bxs-trash{
   flex: 2;
   margin-right: 5%;
   font-size: 60px;
}
.colonne{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.note{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
button{
    width: 70%;
     height: 100%;
    text-align: left;
    font-size: 25px;
    right: 8%;
    position: relative;
}
.note{
    visibility: hidden;
}
.ajout-note{
    visibility: visible;
}
button:hover{
    background-color: aqua;
    border-left: 4px solid green;
}
.container{
    flex: 9;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.article{
    background-image: url(logoa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    /* background-color: chocolate; */
    height: 100%;
    width: 18%;
    margin-left: 1.8%;
    opacity: 0.6;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    animation: animate__backInDown .5s ease-in-out;
}
.article::-webkit-scrollbar{
    display: none;
}
#h-delete{
    border-bottom: 2px solid;
    display: flex;
}
h2{
    flex: 9;
    padding: 2%;
    background-color: green;
    text-align: center;
    
   
}
.bx-x{
    flex: 1;
   background-color: brown;
   
}
.bx-x:hover{
        color: brown;
}
.tache{
   position: relative;
    /* border: 2px solid firebrick; */
   /* display: none; */
 padding: auto;
 
}
h4{
    margin: 2%;
    text-align: center;
    
   margin-left: 10%;
   margin-right: 10%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   justify-content: space-between;
}
.visible{
    display: block;
    text-align: center;
    
}
i{
    font-size:34px
}
.bx-chevrons-right{
   
}
.bx-chevrons-left{
 
}
img{
    /* position: relative;
    top: 40%;
    left: 34%;
    height: 15%;
    width: 35%; */
    border-radius: 50%;
}
h5{
    border: 2px solid;
    text-align: center;
   
}
.couche{
    /* background-color: brown; */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.content{
    position: relative;
    top: 25%;
    left: 38%;
    background-color: green;
    /* display: none; */
    /* position: fixed; */
    /* border: 2px solid red; */
    width: 25%;
    /* background-color: beige; */
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 7px;
    animation: animate__bounceIn .5s ease-in-out;
}
.open{
    display: block;
}
.titre{
    margin-left: 7%;

}
small{
    margin-left: 7%;

}
form{
    width: 85%;
    margin-left: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}
textarea{
    width: 100%;
    margin-top: 4%;
}
input{
    width: 100%;
    margin-top: 4%;
}
label{
    width: 100%;
    
}
#btn-form{
    text-align: center;
    background-color: blue;
    width: 100%;
    text-decoration: none;
    color: aliceblue;
}
#btn-form:hover{
    background-color: greenyellow;
    color: lightslategrey;
}
.notes{
    width: 90%;
    flex: 9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
}
.delet-tache{
    position: relative;
    left: 30%;
    /* margin-left: 50%; */
    font-size: 15px;
    flex: 0.5;
}
.survol{
    background-color: lightslategray;
    overflow: auto;
    visibility: hidden;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    /* padding: 1rem; */
    max-height: 100%;
    transform:translateY(100%);
}
.div-formulaire{
    border: 2px solid;
}
.div-formulaire:hover .survol{
    transform:translateY(0);
    visibility: visible;
}
.date{
   
}
.heure-Depart{
   
    display: flex;
   

}
.heure-fin{
   
    display: flex;
    
}
.clossfleche{
    visibility: hidden;
}
#renommer{
    background-color: azure;
    padding: 3%;
    border: 2px solid azure;

}
input{
    padding: 1%;
}
#id{
    background-color: darkgoldenrod;
    display: flex;
    
}
.span-text{
    position: absolute;
    bottom: 40%;
    color: red;
    font-size: larger;
    font-weight: 600;
}
.span-error-heur{
    position: absolute;
    bottom: 26%;
    color: red;
    font-size: 100%;
    font-weight: 600;
}
.span-texAreat-vide{
    position: absolute;
    bottom: 85%;
    color: red;
    font-size: 100%;
    font-weight: 600;
}

/* confirme */
.container-confirme{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.affiche-sms-confirme{
    display: block;
}
.content-confirme{
    background-color: blue;
    height: 20%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 20%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#sms-de-confirme{
    
    font-size: 170%;
    font-weight: 900;
    height: 20%;
    width: 100%;
    text-align: center;
}
.btn-confirme{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: azure;
}
#annuler{
    font-size: larger;
    font-weight: 700;
    background-color: green;
    padding: 2%;
    box-shadow: 6px;
}
#confirmer{
    font-size: larger;
    font-weight: 700;
    background-color: red;
    padding: 2%;
}
/* container-corbeille */
/* .side-bar.close ~ .menue-section{
    left: 80px; 
     transition: all 0.5s ease; 
    left: 80px;
    
        width: calc(100% - 80px);
    
    } */
  
/* .container-corbeille.open-container-corbeille ~ .container{
        right: 20%;
        transition: all 0.5s ease;
        transform: translateX(20%);
        width: calc(100% - 20%);
        display: block;
    } */
.transit-container{
    /* transform: translateX(-20%);
    transition: all 0.5s ease; */
}
.container-corbeille{
    position: fixed;
    height: 80%;
    width: 20%;
    right: 0;
    bottom: 10%;
   border: 2px solid green;
    background-color: brown;
    /* transition: all 0.5s ease;  */
    /* left: 80px;  */
 /* transition: all 0.5s ease;  */
/* left: 80px; */
    /* width: calc(100% - 80px); */
    /* display: none; */
    transform: translateX(100%);
    transition: all 0.5s ease;
    /* display: flex;
    justify-content: end; */
}
.content-corbeille{
    position: relative;
    border: 2px solid;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.open-container-corbeille{
    /* display: block; */
    transform: translateX(0%);
    transition: all 0.5s ease;
}