*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url(gradient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    border: 4px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all 0.5s ease;
}
#btn-colonne{
    width: 10%;
    margin-left: 10%;
    border-radius: 100%;
    text-align: center;
}

.ajout-colonne{
    display: none;
}
.open-ajout-colonne{
    display: block;
    text-align: center;
    border-radius: 40%;
    height: 100%;
}
.button{
    flex: 8;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.bxs-trash{
   flex: 2;
   right: 5%;
   font-size: 60px;
   color: blue;
}
.colonne{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.note{
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
button{
    width: 70%;
     height: 100%;
    text-align: left;
    font-size: 25px;
    right: 8%;
    position: relative;
}
.note{
    visibility: hidden;
}
.ajout-note{
    visibility: visible;
    text-align: center;
    border-radius: 40%;
    height: 100%;
}
.disabled{
    z-index: -2;
}
button:hover{
    background-color: aqua;
    border-left: 10px solid green;
    border-right: 10px solid green;
}
.container{
    flex: 9;
    width: 100%;
    display: flex;
    align-items: center;
    
}
.article{
    background-image: url(logoa.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    /* background-color: chocolate; */
    height: 100%;
    width: 18%;
    margin-left: 1.8%;
    opacity: 0.6;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    animation: animate__backInDown .5s ease-in-out;
}
.article::-webkit-scrollbar{
    display: none;
}
#h-delete{
    border-bottom: 2px solid;
    display: flex;
    align-items: center;
    text-align: center;
}
#h-delet{
    padding: 2%;
    flex: 9;
    height: 100%;
    background-color: green;
}
h2{
    height: 100%;
    background-color: green;
    text-align: center;
    
   
}
.bx-x{
    flex: 1;
   /* background-color: brown; */
   
}
.bx-x:hover{
        color: brown;
}
.tache{
   position: relative;
 padding: auto;
 display: flex;
}
h4{
    margin: 2%;
    text-align: center;
    
   margin-left: 10%;
   margin-right: 10%;
   display: flex;
   align-items: center;
   justify-content: space-around;
   justify-content: space-between;
}
.visible{
    display: block;
    text-align: center;
    
}
#renommer{
    font-size: 24px;
    background-color: green;
    padding: 3%;
    color: white;
    background-color: green;
    bottom: 6%;
    position: relative;
}
i{
    font-size:34px
}
.bx-chevrons-right{
   
}
.bx-chevrons-left{
 
}
img{
    border-radius: 50%;
}
h5{
    border: 2px solid;
    text-align: center;
   
}
.index-modal::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.445);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}
.open-index-modal{
    display: block;
    content: '';
    background-color: rgba(0, 0, 0, 0.445);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.couche{
    z-index: 2;
    /* background-color: brown; */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}
.content{
    z-index: 2;
    position: relative;
    top: 25%;
    left: 38%;
    background-color: green;
    /* display: none; */
    width: 25%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 7px;
    animation: animate__bounceIn .5s ease-in-out;
}
.open{
    display: block;
}
.titre{
    position: relative;
    margin-left: 7%;
    bottom: 5%;
    color: white;
    display: flex;
    align-items: center;
}
small{
    margin-left: 7%;
    color: white;
}
form{
    width: 85%;
    margin-left: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
}
textarea{
    width: 100%;
    margin-top: 4%;
}
input{
    width: 100%;
    margin-top: 4%;
}
label{
    width: 100%;
    color: white;
}
#btn-form{
    text-align: center;
    background-color: blue;
    width: 100%;
    text-decoration: none;
    color: aliceblue;
}
#btn-form:hover{
    background-color: greenyellow;
    color: lightslategrey;
}
.notes{
    width: 90%;
    flex: 9;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    
}
.delet-tache{
    position: relative;
    left: 47%;
    bottom: 5%;
    /* margin-left: 50%; */
    font-size: 35px;
    flex: 0.5;
}
.survol{
    background-color: lightslategray;
    overflow: auto;
    visibility: hidden;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    /* padding: 1rem; */
    max-height: 100%;
    transform:translateY(100%);
}
.div-formulaire{
   
}
.div-formulaire:hover .survol{
    transform:translateY(0);
    visibility: visible;
}
#delet-modal{
    /* font-size: 100px; */
    margin-left: 47%;
    background-color: green;
}
.champ-textarea{
   
    
}
.date{
   
}
.heure-Depart{
   
    display: flex;
   

}
.heure-fin{
   
    display: flex;
    
}
.clossfleche{
    visibility: hidden;
}
input{
    padding: 1%;
}
#id{
    background-color: darkgoldenrod;
    display: flex;
    
}
.span-text{
    position: absolute;
    bottom: 40%;
    color: red;
    font-size: larger;
    font-weight: 600;
}
.span-error-heur{
    position: absolute;
    bottom: 26%;
    color: red;
    font-size: 100%;
    font-weight: 600;
}
.span-texAreat-vide{
    position: absolute;
    bottom: 85%;
    color: red;
    font-size: 100%;
    font-weight: 600;
}

/* confirme */
.container-confirme{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}
.affiche-sms-confirme{
    display: block;
}
.content-confirme{
    background-color: blue;
    height: 20%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 30%;
    margin-top: 20%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#sms-de-confirme{
    
    font-size: 170%;
    font-weight: 900;
    height: 20%;
    width: 100%;
    text-align: center;
}
.btn-confirme{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: azure;
}
#annuler{
    font-size: larger;
    font-weight: 700;
    background-color: green;
    padding: 2%;
    box-shadow: 6px;
}
#confirmer{
    font-size: larger;
    font-weight: 700;
    background-color: red;
    padding: 2%;
}

.transit-container{
    /* transform: translateX(-20%);
    transition: all 0.5s ease; */
}
                                /* corbeille */
.container-corbeille{
    z-index: 2;
    position: fixed;
    height: 80%;
    width: 20%;
    right: 0;
    bottom: 10%;
   border: 2px solid green;
    background-color: brown;
    /* display: none; */
    transform: translateX(100%);
    transition: all 0.5s ease;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2%;
}
.content-corbeille{
    position: relative;
    border: 2px solid;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.open-container-corbeille{
    /* display: block; */
    transform: translateX(0%);
    transition: all 0.5s ease;
}
.index-corbeille::after {
    content: '';
    background-color: rgba(0, 0, 0, 0.445);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}
.open-index-corbeille{
    display: block;
    content: '';
    background-color: rgba(0, 0, 0, 0.445);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.open-bxs-trash{
    z-index: 2;
    position: absolute;
    top: 1.29%;
    right: 0.28%;
}
#div-restaurer{
    font-size: 100%;
    color: white;
    margin-left: 5%;
}